.status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .status-success {
    background-color: #28a745;
  }
  
  .status-warning {
    background-color: #ffc107;
  }
  
  .status-danger {
    background-color: #dc3545;
  }

  .bg-success {
    transition: background-color 5s ease;
  }

  .bg-info {
    transition: background-color 1s ease;
  }